  
<suite name="Free CRM Application automation Test Suite" >
  <test name="Free CRM App Test Cases" >
    <classes>
       <class name="com.crm.testcases.LoginPageTest" />
        <class name="com.crm.testcases.HomePageTest" />
         <class name="com.crm.testcases.ContactsPageTest" />
    </classes>
  </test>
</suite>
