<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FirstXML">
<test name="Testing XML">
<classes>
	<class name="webTableConcepts.RedBus">
	
	<methods>
<include name="verifyHomePage"/>
<include name="selectDate"/>
<include name="clickSearch"/>
<exclude name="selectOneBus"/>

</methods>
</class>

</classes>
</test>
</suite>